
@{
    ViewBag.Title = "Lista de unidad flota";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <!-- Toastr -->
    <link href="~/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/css/Custumer.css" rel="stylesheet" />
}

<div class="content-header">

    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3 class="m-0 text-dark">Lista de unidades de flota</h3>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Dashboard")"><i class="fas fa-home"></i> Inicio</a></li>
                    <li class="breadcrumb-item">Consultas</li>
                    <li class="breadcrumb-item active">Lista de unidades de flota</li>

                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->

    <div class="card card-default">
        <!-- /.card-header -->
        <div class="card-body" style="display: block;">
            <div class="row">
                <div class="form-group col-sm-2">
                    <label for="txtlocalidad">Localidad </label>
                    <div class="col-xs-5">
                        <select id="txtlocalidad" class="form-control input-sm"></select>
                        @*<input type="text" id="txtlocalidad" autocomplete="off" class="form-control input-sm" onkeypress="buscar(event)">*@
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label for="txtubicacion">Ubicación</label>
                    <div class="col-xs-5">
                        <select id="txtubicacion" class="form-control input-sm"></select>
                        @*<input type="text" id="txtubicacion" autocomplete="off" class="form-control input-sm" onkeypress="buscar(event)">*@
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label for="txtclase">Clase </label>
                    <div class="col-xs-5">

                        <select id="txtclase" class="form-control input-sm"></select>
                        @*<input type="text" id="txtclase" autocomplete="off" class="form-control input-sm" onkeypress="buscar(event)">*@
                    </div>

                </div>

                <div class="form-group col-sm-2">
                    <label for="txtplaca">Placa Interna</label>
                    <div class="col-xs-5">
                        <input type="text" id="txtplaca" autocomplete="off" class="form-control input-sm" onkeypress="buscar(event)">
                    </div>
                </div>

                <div class="form-group col-sm-2">
                    <label for="txtestado">Estado unidad</label>
                    <div class="col-xs-5">
                        <select id="txtestado" class="form-control input-sm"></select>
                        @*<input type="text" id="txtestado" autocomplete="off" class="form-control input-sm" onkeypress="buscar(event)">*@
                    </div>
                </div>

                <div class="form-group">
                    <label for="selecAnio">Año</label>
                    <div class="col-xs-5">
                        <select id="selecAnio" class="form-control input-sm"></select>
                    </div>
                </div>


                <div class="form-group btn-buscar">
                    <div class="col-xs-5">
                        <button type="button" class="btn btn-info btn-sm" id="btn-buscar">Buscar</button>
                    </div>
                </div>

                <div class="form-group btn-buscar">
                    <div class="col-xs-5">
                        <button type="button" class="btn btn-default btn-sm" id="btn-refrescar-cabezera"><i class="fas fa-sync"></i></button>
                    </div>
                </div>
                @*@if (WebSession.Acciones.Where(P => P.idOpcion == (int)ViewBag.IdOpcion && P.codigo == Constantes.Exportar_Xlsx).Any())
                    {*@
                <div class="form-group btn-buscar">
                    <div class="col-xs-5">
                        @using (Html.BeginForm("ExportXlsx", "UnidadFlota", FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-success btn-sm" id="btn-descagarXlsx">Xlsx <i class="fas fa-file-excel"></i> <i class="fas fa-download"></i> </button>
                        }
                    </div>
                </div>


                @*@if (WebSession.Acciones.Where(P => P.idOpcion == (int)ViewBag.IdOpcion && P.codigo == Constantes.Exportar_Xls).Any())
                    {*@
                <div class="form-group btn-buscar">
                    <div class="col-xs-5">
                        @using (Html.BeginForm("ExportXls", "UnidadFlota", FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-success btn-sm" id="btn-descagarXls">Xls <i class="fas fa-file-excel"></i> <i class="fas fa-download"></i> </button>
                        }
                    </div>
                </div>


            </div>
            <!-- /.row -->
        </div>

    </div>


    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <!-- /.card-header -->
                    <div class="card-body">

                        <table id="DataTableUnidadFLota" class="table table-bordered table-hover" role="grid" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Localidad</th>
                                    <th>Ubicación</th>
                                    <th>Placa Rodaje</th>
                                    <th>Placa Interna</th>
                                    <th>Clase</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Año</th>
                                    <th>Estado</th>
                                    <th><i class="fas fa-folder-minus"></i></th>
                                    <th>Historial</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <!-- ./card-body -->
                    <div class="card-footer">
                        <div class="row" id="footer-estadoUnidad">


                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->



</div>


<div class="modal fade" id="modal-xl" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="tile-historial"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="card card-default">

                        <!-- /.card-header -->
                        <div class="card-body" style="display: block;">
                            <div class="row">
                                <div class="form-group">
                                    <label for="txttaller">Taller </label>
                                    <div class="col-xs-3">
                                        <input type="text" id="txttaller" autocomplete="off" class="form-control input-sm" onkeypress="buscarHistorial(event)">
                                    </div>
                                </div>

                                <div class="form-group col-xs-3 col-sm-3">
                                    <label for="txtsituacion">Situación </label>
                                    <div class="col-xs-6">
                                        <input type="text" id="txtsituacion" autocomplete="off" class="form-control input-sm" onkeypress="buscarHistorial(event)">
                                    </div>

                                </div>
                                <div class="form-group btn-buscar">
                                    <div class="col-xs-3">
                                        <button type="button" class="btn btn-info btn-sm" id="btn-buscar-historial">Buscar</button>
                                    </div>
                                </div>
                                <div class="form-group btn-buscar">
                                    <div class="col-xs-3">
                                        <button type="button" class="btn btn-default btn-sm" id="btn-refrescar-historial"><i class="fas fa-sync"></i> </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>

                    </div>

                    <table id="DataTableUnidadHistorial" class="table table-bordered table-hover" role="grid" style="width:100%">
                        <thead>
                            <tr>
                                <th>Fecha reporte</th>
                                <th>Concepto</th>
                                <th>F.Ingreso taller</th>
                                <th>Taller</th>
                                <th>Fecha Salida</th>
                                @*<th>Costo</th>*@
                                <th>Situación reparación</th>
                                <th></th>

                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary">S</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<script src="~/plugins/jquery/jquery.min.js"></script>
<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
<script>$.widget.bridge('uibutton', $.ui.button)</script>
<script src="~/popper/popper.min.js"></script>
<script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- daterangepicker -->
<script src="~/plugins/moment/moment.min.js"></script>
<script src="~/plugins/daterangepicker/daterangepicker.js"></script>
<!-- overlayScrollbars -->
<script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="~/dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!-- AdminLTE for demo purposes -->
<script src="~/dist/js/demo.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/validCampoFranz.js"></script>
<script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="~/Scripts/webApp.js"></script>
<script src="~/js/Load.js"></script>
<script src="~/ViewJs/Home.js"></script>
<script src="~/js/CheckSession.js"></script>
<script src="~/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>

<script src="~/ViewJs/UnidadFlota.js"></script>
<script type="text/javascript">$(document).ready(function () {
        UnidadFlota.init();
    });</script>


